/*
 * Empty Stylesheet file.
 */

.cardpane{
   -fx-background-color: beige;
   -fx-background-radius: 20px;
    
}
.anchor{
   -fx-background-color: azure;
  
}
.button{
   -fx-background-color: cornflowerblue;
    -fx-text-color:white;   
}