/*
 * Empty Stylesheet file.
 */

.cardpane{
   -fx-background-color: white;
   -fx-background-radius: 20px;
    -fx-text-fill:black;
}
.anchor{
   -fx-background-color: gray;
   
    
}
.grid{
   -fx-background-color: white;
   
    
}
/*.button{
   -fx-background-color: blue;
    -fx-text-color:white;
    
    
}*/
.text{
    text-width:20;
}