/*
 * Empty Stylesheet file.
 */

.cardpane{
   -fx-background-color: white;
   -fx-background-radius: 20px;
    
}
.anchor{
   -fx-background-color: blue;
   
    
}
.button{
   -fx-background-color: blue;
    -fx-text-color:white;
    
    
}
.text{
    text-width:20;
}